<html>
    <body style="padding:150px 450px;border:3px solid black;border-radius:10px;">
        <div style="padding:20px 45px;background-color:#E3FDE3;border:3px solid black;border-radius:10px;">
        <u><h1 style="color:red;"><b>BMI Calculater</b></h1></u>
        <form  action='/calculate' method="post">
            <h1>Enter your weigth</h1>
            <input id="weight" name="weigth" placeholder="Enter your weigth in kg" required>
            <br>
            <h1>Enter your height</h1>
            <input id="height" name="heigth" placeholder="Enter your heigth in cm" required>
            <br><br><button type="submit" name="submit">Submit</button>
        </form>
    </div>
    </body>
    </html>